<html>
<head>
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/rightanimation.css' %}">
	{% load staticfiles %}
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script type="text/javascript">
	// imitation of new page loading
	window.onload = function() {
	  $body = $('body'),
	  $('div.container').hide(0).delay(3680).show(0)
	  loader(5)

	  function loader(delay) {
	    setTimeout(function(){
	      $body.addClass('loading');
	    }, delay);

	    setTimeout(function(){
	      $body.addClass('loaded');
	    }, delay + 1200);

	    setTimeout(function(){
	      $body.removeClass('restart').addClass('new-page');
	    }, delay + 1550);
	  }
	}
	</script>
	<style>
		form-group {
		    margin-left: 20%;
		    margin-top: 10%;
		    border-radius: 4px;
		}
		#choco{
		    margin-top: 4%;
		    width: 16%;
		    border-radius: 4px;
		} 
		h2	   {
		    color: white;
		} 
		form {
		    margin-left: 43%;
		    margin-top: 13%;
		} 
		 input {
		   border-radius: 4px;
		} 
	</style>
</head>
<body>
	<div class="animation">
		<svg class="loader" viewBox="0 0 100 100" overflow="visible">
		  <g class="core">
		    <circle class="path" cx="50" cy="50" r="1" fill="none" />
		  </g>
		  <g class="spinner">
		    <circle class="path" cx="50" cy="50" r="20" fill="none" />
		  </g>
		  <g class="layer-1">
		    <circle class="path" cx="50" cy="50" r="70" fill="none" />
		  </g>
		  <g class="layer-2">
		    <circle class="path" cx="50" cy="50" r="120" fill="none" />
		  </g>
		  <g class="layer-3">
		    <circle class="path" cx="50" cy="50" r="180" fill="none" />
		  </g>
		  <g class="layer-4">
		    <circle class="path" cx="50" cy="50" r="240" fill="none" />
		  </g>
		  <g class="layer-5">
		    <circle class="path" cx="50" cy="50" r="300" fill="none" />
		  </g>
		  <g class="layer-6">
		    <circle class="path" cx="50" cy="50" r="380" fill="none" />
		  </g>
		  <g class="layer-7">
		    <circle class="path" cx="50" cy="50" r="450" fill="none" />
		  </g>
		  <g class="layer-8">
		    <circle class="path" cx="50" cy="50" r="540" fill="none" />
		  </g>
		</svg>
	</div>
	<!-- SIGN IN -->
	<div class="container" id="wrap">
		{% for error in errors %}
			<p class="bg-danger">{{error}}</p>
		{% endfor %}
		<form action="{% url 'login' %}" method="post"> {% csrf_token %}
		  <div class="form-group">
		    <label for="email"><h2>Email address:</h2></label>
		    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="password"><h2>Password:</h2></label>
		    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
		  </div>
		  <button type="submit" id="choco" class="w15 dl16">Sign In</button>
		</form>
	</div>

</body>
</html>
