<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<div id="container">
	<div class="top">
		<h1>Signin</h1>
		<form action="{%url 'signin'%}" method="post">
			{% csrf_token %}
			<label>Email Address <input type="text" name="email"></label>
			<label>Password: <input type="text" name="password"></label>
			<input type="submit" name="submit" value="Sign In">
		</form>
		{% if messages %}
			{% for message in messages %}
				{% if message.extra_tags == 'login'%}
				<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
				{% endif %}
			{% endfor %}
		{% endif %}		
	</div>
	<div class="registration">
		<h1>Registration</h1>
		<form action="{% url 'validation' %}" method='post'>
		{% csrf_token %}

			<label>User Name: <input type="text" name="alias"></label>
			{% if messages %}
				{% for message in messages %}
					{% if message.extra_tags == 'alias'%}
					<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endif %}
				{% endfor %}
			{% endif %}
			<label>First Name: <input type="text" name="first_name"></label>
			{% if messages %}
				{% for message in messages %}
					{% if message.extra_tags == 'first_name'%}
					<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endif %}
				{% endfor %}
			{% endif %}
			<label>Last Name: <input type="text" name="last_name"></label>
			{% if messages %}
				{% for message in messages %}
					{% if message.extra_tags == 'last_name'%}
					<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endif %}
				{% endfor %}
			{% endif %}
			<label>Email: <input type="email" name="email"></label>
			{% if messages %}
				{% for message in messages %}
					{% if message.extra_tags == 'email'%}
					<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endif %}
				{% endfor %}
			{% endif %}
			<label>Password: <input type="password" name="password"></label>
			{% if messages %}
				{% for message in messages %}
					{% if message.extra_tags == 'password'%}
					<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endif %}
				{% endfor %}
			{% endif %}				
			<label>Confirm pw: <input type="password" name="confirm"></label>
			{% if messages %}
				{% for message in messages %}
					{% if message.extra_tags == 'confirm'%}
					<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endif %}
				{% endfor %}
			{% endif %}				
			<input type="submit" name="submit" value='Register'>
		</form>
	</div>	
</div>
</body>
</html>