<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<div id="container">
	<div class="top">
		<h1>Test App</h1>
		<a href="{%url 'index'%}">Sign In</a>
	</div>
	<div class="main">
		<h1>Signin</h1>
		<form action="{%url 'signin'%}" method="post">
			{% csrf_token %}
			<label>Email Address <input type="text" name="email"></label>
			<label>Password: <input type="text" name="password"></label>
			<input type="submit" name="submit" value="Sign In">
		</form>
		{% if messages %}
			{% for message in messages %}
				{% if message.extra_tags == 'login'%}
				<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
				{% endif %}
			{% endfor %}
		{% endif %}		
		<a href="{%url 'register'%}">Don't have an account? Register</a>
	</div>
</div>
</body>
</html>