@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);

body {
    background-color: #ecebeb;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 5px;
}

#header {
    background-image: url("../img/header.jpg");
    background-repeat: repeat-x;
    color: white;
    height: 80px;
}

#logo {
    height: 70px !important;
    width: auto !important;
}

    #header #toolbar{
        margin-top: 18px;
        border-radius:5px;
    }

.btn {
    padding-right: 10px;
    background-color: #76C7C0;
    border: none;
    color: white;
    border: 0 none;
    font-weight: 300;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: #51b8af;
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

/* Footer CSS below! */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 116px; /* bottom = footer height */
    /*padding: 25px;*/
}

#footer {
    background-image: url("../img/footer.jpg");
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 116px;
    width: 100%;
    overflow:hidden;
    /* footer content*/
    color: white;
    font-variant: small-caps;
    padding-top: 1em;
}

#socialmed {
    text-align: right;
    padding-right: 50px;
}

#copyright {
    padding-top: 30px;
}
/* end of footer CSS */

/* tab CSS*/
#main {
    margin-top: 50px;
    position: relative;
    padding: 0;
}
.ui-tabs-nav {
    background-color: #222 !important; /*To overwrite jquery-ui.css*/
    height: 30px;                        /*To stop nav block scaling of tab size*/
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
    border: none;
    background: none;
    border-radius: 2px 2px 0 0; /*To affect only top corners*/
}

.ui-tabs .ui-tabs-nav li {
    position: relative;    /*To overwrite jquery-ui.css*/
    top: -10px !important;  /*To overwrite jquery-ui.css*/
    border: none;
    margin: 0 0 -5px 0;
    background: none;
}
.ui-tabs-anchor{
    color: white !important;                  /*To overwrite jquery-ui.css*/
    text-decoration: underline !important;    /*To overwrite jquery-ui.css*/
}
#main ul.ui-widget-header, #main ul.ui-widget-content, #main ul.ui-state-default, #main ul.ui-state-hover {
    background: none;
    border: none
}

#main .ui-tabs-active a {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-color: white;        /*To make it looks like on example pic, it is possible do do with it whatever you want*/
   border-color: #CCCCCC;
   border-style: solid;
   border-width: 1px 1px 0;
   border-radius: 5px 5px 0 0;    /*To affect only top corners*/
   color: #222222;
   position: relative;
   z-index: 5;
   color: black !important;             /*To overwrite jquery-ui.css*/
   text-decoration: none !important;     /*To overwrite jquery-ui.css*/
}    
a:focus{                                /*To handle that annoing border(chrome) when item is in focus*/
 outline: none;   
}
