@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
    background-color: #ecebeb;
    /*border-radius: 8px;
    border: 2px solid black;*/

}

#header {
    background-color: lightblue;
    color: white;
    /*border-bottom: 2px solid black;
    border-radius: 8px;*/
}

    #header #logo {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        transform: scale(1.1, 1.5);
    }

    #header #toolbar{
        margin-top: 18px;
        border: 1px solid black;
        border-radius:5px;
    }

    #header #store {
        margin-top: 18px;

    }

    #header #logout {
        margin-top: 18px;

    }

.btn {
    padding-right: 10px;
    background-color: lightblue;
    border: none;
}

/* Footer CSS below! */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px; /* bottom = footer height */
    /*padding: 25px;*/
}

#footer {
    background-color: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
    /* footer content*/
    color: white;
    font-variant: small-caps;
    padding-top: 1em;
}
/* end of footer CSS */