<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery import -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javscript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/journal.js' %}"></script>
</head>
<body>
    <div id ="wrapper">
        <div class="container-fluid">
            <div class="row" id='header'> 
                <img id='logo' class='col-xs-1' src="{% static 'img/omgoalslogo.png' %}" />
                <div class='col-xs-9'>
                    <div id='toolbar' role='toolbar'>
                        <button type='button' class='btn btn-secondary'><a href="{%url 'dash'%}">Today</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'add_goal'%}">Add</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'profile'%}">Profile</a></button>
    					<button type='button' class='btn btn-secondary active'>Journal</button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'achieved_page'%}">Achieved</a></button>
                        <button id='store' type='button' class='btn btn-secondary'>Store</button>
                        <a href="{%url 'logout'%}"><button id='logout' type='button' class='btn btn-primary'>Log Out</button></a>
                    </div>
                </div>
            </div>

            <div id="content">
                <h1>Journal!</h1>
<!--
                <div class='tabs' id='statictabs'>
                 <ul class='tabs'>
                    <li><a href='#tab1'>Tab 1</a></li>
                    <li><a href='#tab2'>Tab 2</a></li>
                    <li><a href='#tab3'>Tab 3</a></li>
                  </ul>
                  <div id='tab1'>
                    <p>Hi, this is the first tab.</p>
                  </div>
                  <div id='tab2'>
                    <p>This is the 2nd tab.</p>
                  </div>
                  <div id='tab3'>
                    <p>And this is the 3rd tab.</p>
                  </div>
              </div>
            </div>-->
   <div id="main">
                <div class="ui-widget-header ui-corner-top">
                    <ul>
                        <li><a href="#tabs-1">My Databases</a></li>
                        <li><a href="#tabs-2">Database Stats</a></li>
                    </ul>
                </div>
                
                <div id="tabs-1" class="tabs3">
                    <p>Database stats</p>
                </div>
                
                <div id="tabs-2" class="tabs3">
                    <p>You could not be registered due to a system error. We apologize for any inconvenience.</p>
                </div>
    </div>

            <div id="footer">
               <div class='col-xs-3 col-xs-offset-1'id='copyright'>
                    &copy; OH MY GOALS 2016
                </div>
                <div id='socialmed' >
                    <img src="{% static 'img/socialmediaicons.png' %}" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
