<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery import -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/journal.js' %}"></script>
</head>
<body>
    <div id ="wrapper">
        <div class="container-fluid">
            <div class="row" id='header'> 
                <div class='col-xs-5 col-xs-offset-7'>
                    <div id='toolbar' role='toolbar'>
                        <button type='button' class='btn btn-secondary'><a href="{%url 'dash'%}">Today</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'add_goal'%}">Add</a></button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'profile'%}">Profile</a></button>
    					<button type='button' class='btn btn-secondary active'>Journal</button>
    					<button type='button' class='btn btn-secondary'><a href="{%url 'achieved_page'%}">Achieved</a></button>
                        <button id='store' type='button' class='btn btn-secondary'>Store</button>
                        <a href="{%url 'logout'%}"><button id='logout' type='button' class='btn btn-primary'>Log Out</button></a>
                    </div>
                </div>
            </div>

            <div id="content">
                <h1>Journal!</h1>
            </div>

            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
