<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon"/>
    <meta charset="UTF-8">

    <!-- jQuery import -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/journal.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row" id='header'>
            <div class='col-xs-5'>
                <h2 id='logo'>Oh My Goals!</h2>
            </div>
            <div class='col-xs-5'>
                <div id='toolbar' class='btn-group' role='toolbar'>
                    <button type='button' class='btn btn-secondary active'><a href='#'>Today</a></button>
                    <button type='button' class='btn btn-secondary'><a href='#'>Add</a></button>
                    <button type='button' class='btn btn-secondary'>Filter</button>
                    <button type='button' class='btn btn-secondary'>Journal</button>
                    <button type='button' class='btn btn-secondary'>Achieved</button>
                </div>
            </div>
            <div class='col-xs-1'>
                <button id='logout' type='button' class='btn btn-primary'>Log Out</button>
            </div>
        </div>

        <h1>Journal!</h1>



</body>
</html>